# direnv allow .

# PJROOT (pj for "project") is the root of the project ${PJROOT/**}. .envrc is placed in ${PJROOT}
export PJROOT=$(realpath -Lm $(dirname ${BASH_SOURCE%*/}))

# ${PJROOT}/.pj/** are files to manage the project itself. All external configuration like ${PJROOT}/.github are
# symlinks into ${PJROOT}/.pj and are grafted into ${PJROOT} with .pj/bin/pj-graft.sh or manually at your discretion.
# .pj/** can optionally be a git subproject.

# Any `bin` directory under ${PJROOT}/.pj could contain useful developer utilities.
PATH_add $(find ${PJROOT}/.pj -type d -name bin)

# If you have a first time project setup script pj-setup.sh and it hasn't been run yet, run it.
[[ -f "${PJROOT}/.pj-setup.sh.log" ]] && return 0
if has pj-setup.sh; then
  echo "running $(type -P pj-setup.sh) first time" >&2
  pj-setup.sh > ${PJROOT}/.pj-setup.sh.log || echo "\n*** see ${PJROOT}/.pj-setup.sh.log for issues ***\n" >&2
fi

   


