# An initial .envrc for direnv is in this repo. But you might modify it and inadvertently commit it.
.envrc

# https://www.dotenv.org/docs/
# for secrets, which you might have yourself
.env
.env.*

# unimplemented installers
*.tbs.install.sh

# ignore log files
*.log
**/log/**

# ignore local db
*.db

*.AppImage

profile.d/binstall.d/by-cmd.d/
