# An initial .envrc for direnv is in this repo. But you might modify it and inadvertently commit it.
.envrc

# https://www.dotenv.org/docs/
# for secrets, which you might have yourself
.env
.env.*


# ignore log files
*.log
pj/log/**
